<div style="text-align:left">
  <div class="text-style">
    <div class="card-header">
      <div class="mat-card-title" style="text-align: center">Kontakt</div>
    </div>
    <div class="card-body">
      Działamy na terenie
      <li> Warszawy</li>
      <li> Krakowa</li>
      <li> Poznania</li>
      <li> Trójmiasta</li>
      <li> Łodzi</li>
      <li> Katowice</li>
      <li> Kraków</li>
      <li> Wrocław</li>
      Kontakt<br>
      Telefon - 735880014<br>
      Warszawa - biuro@startsmile.pl<br>
      Kraków- krakow.taxify@startsmile.pl<br>
    </div>
  </div>
</div>
