<div style="text-align:center">
  <h1>
    Witam na Stronie {{title}}
  </h1>
  <div class="about-us">
  <div class="card-header">
    <div class="mat-card-title">Kim jesteśmy?</div>
  </div>
  <div class="card-body">
      <p>
        Jesteśmy zaufanym partnerem , który oferuje usługę podpięcia pod TAXIFY i UBER.</p>
      <p>
        Mamy gigantyczne doświadczenie, sami jesteśmy kierowcami i wiemy dokładnie czego potrzebujesz.</p>
      <p>
      Działamy od samego początku z Taxify i Uber.
      </p>
  </div>
</div>
</div>
