<div style="text-align:center">
  <div class="text-style">
    <div class="card-header">
      <div class="mat-card-title">O Współpracy</div>
    </div>
    <div class="card-body">
      <p>Jesteśmy zaufanym partnerem , który oferuje usługę podpięcia pod</p>
      <h4>TAXIFY i UBER<br>
        KOSZT JEDYNIE 50 ZŁ za TYDZIEŃ<br></h4>
      <div style="text-align: left">
        Co oferujemy?
        <li>Zatrudniamy Cię na Umowę Zlecenie, rozliczamy Twoje podatki, masz opłacony ZUS.</li>
        <li>Wszystko co robimy, jest w 100% zgodne z obowiązującym prawem.</li>
        <li>Dobór najlepszej formy współpracy (umowa zlecenie, umowa o dzieło umowa partnerska).</li>
        <li>Stworzenie konta kierowcy na platformie Uber.</li>
        <li>Pomoc w obsłudze aplikacji</li>
        <li>Pomoc 24/7</li>
        <li>Rozliczenie przelewem raz w tygodniu</li>
        <li>Umowę na czas nieokreślony (każdy rodzaj) z najkrótszym okresem wypowiedzenia jeśli chcesz zrezygnować z
          usługi (okres wypowiedzenia umowy to tylko 7 dni)
        </li>
        <li>Możliwość rozpoczęcia współpracy jeszcze tego samego dnia!</li>
      </div>
    </div>
  </div>
</div>
